
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright © 2023–2024 jkBlogs, Inc.
  </div>
</footer>
<script src="https://kit.fontawesome.com/2c42caf042.js" crossorigin="anonymous"></script>
</body>
</html>
