
<footer class="bg-light py-3">
  <div class="container">
    <p class="text-center">Copyright &copy;jkBlogs 2023</p>
  </div>
</footer>
<script src="https://kit.fontawesome.com/2c42caf042.js" crossorigin="anonymous"></script>
</body>
</html>
