<%- include("partials/header"); -%>
    <h1 class="text-primary">Contact</h1>
    <p class="contact-body"> <%= contactContent %> </p>
    <h2 class="text-white">You can reach us through the following ways:</h2>
    <div class="social_media m-5">
        <a href="https://www.instagram.com/j_a_t_t_i_n_/">‎<i class="fa-brands fa-instagram fa-2xl"></i></a>
        <a href="https://www.facebook.com/jattinsharma145/">‎<i class="fa-brands fa-facebook fa-2xl"></i></a>
        <a href="https://twitter.com/jattin_khajuria">‎<i class="fa-brands fa-twitter fa-2xl"></i></a>
        <a href="https://www.linkedin.com/in/jattin-khajuria-700844223/">‎<i
            class="fa-brands fa-linkedin fa-2xl"></i></a>
      </div>
<%- include("partials/footer"); -%>
